<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl url="http://192.168.0.106:6080/arcgis/rest/services/"
                   matchAll="true"/>
	<serverUrl url="http://192.168.0.106:6080/arcgis/rest/services/ShaanXi/MapServer "
                   matchAll="true"/>


    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
